<!DOCTYPE html>
<html>
<head>
  <title>DistributedRails</title>
  <%= stylesheet_link_tag    "distributed_rails/application", :media => "all" %>
  <%= javascript_include_tag "distributed_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
